[submodule "origins/backend"]
	path = origins/backend
	url = https://github.com/djimenezm2/back-hackaton-CTW-2026.git
[submodule "origins/frontend"]
	path = origins/frontend
	url = https://github.com/juanse-ai/ayuda-agente.git
